@media (max-width: 1000px) {
    .bar {
        width: 120px;
        height: 120px;
    }
    .barOverflow {
        width: 120px;
        height: 60px;
    }
  }

  @media (max-width: 500px) {
    .bar {
        width: 80px;
        height: 80px;
    }
    .barOverflow {
        width: 80px;
        height: 40px;
    }
  }